# .ebextensions/01_install_odbc.config

# 1. Instala dependencias de sistema necesarias
packages:
  yum:
    unixODBC: []
    unixODBC-devel: []
    # La siguiente línea asegura que el driver ODBC 17 para SQL Server se instalará

# 2. Ejecuta comandos de shell para descargar e instalar el driver
container_commands:
  01_add_repo:
    command: 'curl -o /etc/yum.repos.d/msprod.repo https://packages.microsoft.com/config/rhel/7/prod.repo'
    leader_only: true
  02_install_driver:
    command: 'ACCEPT_EULA=Y yum install -y msodbcsql17'
    leader_only: true